streamlit==1.32.2
python-dotenv
langchain-core
langchain-community
langchain-google-genai
chromadb
pypdf
faiss-cpu
tiktoken
fastapi
uvicorn
sse-starlette
langserve
beautifulsoup4

# Avoid known conflicts with Streamlit dependencies
rich==13.7.1
markdown-it-py==2.2.0
pygments==2.17.2
mdurl==0.1.2
